<script>
    System.defaultJSExtensions = true;
    System.config({
        baseURL: '/Scripts/node_modules/'
    });
    System.import("/Scripts/App/app");
</script>

<div id="central-container" class="container well">
    <div>
        <h1>Work in progress</h1>
        @*<todo-app id="todo-app">Loading...</todo-app>*@
    </div>
</div>

